body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root{
	height: 100%;
}

.App{
	height: 100%;
}

.header-container{
	margin-top: 0px !important;
}

.padding{
	padding: 8px;
}

.footer{
	position: fixed !important;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	text-align: center;
}

.progress-container{
	width: 20% !important;
	text-align: left;
}

.skills{
  text-align: left;
}

.subject{
	padding: 8px;
	overflow-y: auto;
	height: 370px;
	text-align: center;
}

.icon-container{
	display: inline-flex;
	width: 70%;
	justify-content: space-between;
  flex-wrap: wrap;
}

.icon-container>a {
  padding: 0px 8px;
}

.myself{
	padding: 8px;
	display: flex;
	flex-direction: column;
}

.myself .avatar{
	align-self: center;
}

.contacts{
	float: right;
	padding: 16px;
}

.contact-container{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	text-align: left;
}
